#go, #info {
	margin-bottom: 5px;
}

#info {
	height: 18px;
	color: gray;
	font-style: italic;
}

#log {
	width: 590px;
    height: 290px;
    border: 1px solid rgb(192, 192, 192);
    padding: 5px;
    margin-bottom: 5px;
    font: 11pt 'Palatino Linotype';
    overflow: auto;

	.m_name {
		color: rgb(190, 0, 0);
	}
	
	.m_time {
		color: blue;
		font: 10pt 'Courier New';
	}
	
	.m_event {
		color: green
	}
	
	.m_text {
		font-style: italic;
		font-weight: bold;
	}
}

#input {
    width: 550px;
}

#send {
    width: 50px;
}